### 151
리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]  
for문을 사용해서 리스트의 음수를 출력하라.  
  
-20  
-3

In [4]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

### 152
for문을 사용해서 3의 배수만을 출력하라.  

리스트 = [3, 100, 23, 44]  
3

In [11]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0: print(i)

3

### 153
리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]  
12  
18

In [12]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i %3 == 0 and i < 20:
        print(i)

12
18

### 154
리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]  
study  
python  
language

In [13]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >=3:
        print(i)

study
python
language

### 155
리스트에서 대문자만 화면에 출력하라.  

리스트 = ["A", "b", "c", "D"]  
A  &nbsp;  
D

In [14]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

### 156   
리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]  
b &nbsp;  
c

In [15]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

### 157
이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']   
Dog  
Cat   
Parrot

In [18]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [23]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper(), i[1:], sep ='')

Dog
Cat
Parrot

### 158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']   
hello    
ex01    
intro

In [24]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

### 159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']  
intra.h  
define.h

In [29]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']  
for i in 리스트:
    if i.split('.')[-1] == 'h':
        print(i)

intra.h
define.h

### 160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']  
intra.h  
intra.c  
define.h

In [32]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i.split('.')[-1] == 'h' or i.split('.')[-1]== 'c':
        print(i)

intra.h
intra.c
define.h

### 161
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [33]:
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

### 162
월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

2002  
2006  
2010  
...  
2042  
2046  
2050

In [34]:
for i in range(2002, 2051, 4):
    print(i, sep)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

### 163
1부터 30까지의 숫자 중 3의 배수를 출력하라.

3   &nbsp;  
6   &nbsp;  
9   &nbsp;  
12      
15     
18      
21   
24  
27      
30

In [35]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

### 164
99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

In [36]:
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

### 165
for문을 사용해서 아래와 같이 출력하라.

0.0  
0.1  
0.2  
0.3  
0.4   
0.5  
...  
0.9

In [37]:
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

### 166
구구단 3단을 출력하라.

3x1 = 3  
3x2 = 6    
3x3 = 9  
3x4 = 12    
3x5 = 15    
3x6 = 18    
3x7 = 21       
3x8 = 24  
3x9 = 27

In [39]:
for i in range(1,10):
    print(f'3x{i} = {3*i}')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

### 167
구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

3x1 = 3   
3x3 = 9     
3x5 = 15   
3x7 = 21   
3x9 = 27

In [40]:
for i in range(1,10,2):
    print(f'3x{i} = {3*i}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

### 168
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합 : 55

In [47]:
sum = 0
for i in range(1,11):
    sum += i
print(sum)

55

### 170
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [49]:
sum = 1
for i in range(1,11):
    sum *= i
print(sum)

3628800

### 171
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]  
32100  
32150  
32000    
32500

In [50]:
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

### 172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]     
0 32100        
1 32150      
2 32000     
3 32500

In [53]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

### 173
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]     
3 32100       
2 32150       
1 32000      
0 32500

In [55]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list) - i-1, price_list[i])

3 32100
2 32150
1 32000
0 32500

### 174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]      
100 32150       
110 32000       
120 32500

In [57]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, len(price_list)):
    print(i*100, price_list[i])

100 32150
200 32000
300 32500

### 175
my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]   
가 나   
나 다   
다 라

In [61]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

### 176
리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]   
가 나 다  
나 다 라   
다 라 마

In [63]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

### 177
반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]    
라 다   
다 나  
나 가

In [84]:
# my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

### 178
리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.  

my_list = [100, 200, 400, 800]  
예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.  

100   
200  
400

In [89]:
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1] - my_list[i])

100
200
400

### 179
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.  

my_list = [100, 200, 400, 800, 1000, 1300]  
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

233.33333333333334  
466.6666666666667  
733.3333333333334  
1033.3333333333333

In [92]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    sum = 0
    for j in range(3):
        sum += my_list[i+j]
    print(sum/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

### 180

리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]  
high_prices = [150, 300, 430, 880, 1000]

In [96]:
low_prices = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatillity = []
for x,y in zip(low_prices, high_prices):
    volatillity.append(y-x)
print(volatillity)

[50, 100, 30, 80, 0]