### 181
아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.    

|101호 |	102호 |
|---|---|
|201호	|202호   |
|301호	|302호  |

In [16]:
apart =[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

### 182
아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

|시가|종가  |
|---|---|
|100	|80 | 
|200|	210  | 
|300|	330  |

In [15]:
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]

### 183
아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

|시가|	종가|
|---|---|
|100|	80||
|200|	210|
|300	|330|

In [17]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330]}

### 184
아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.


|10/10	|80|	110|	70	|90|
|---|---|---|---|---|
|10/11|	210|	230|	190|	200|

In [19]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}

### 185
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]     
101 호          
102 호     
201 호     
202 호       
301 호       
302 호

In [21]:
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
    for j in i:
        print(j,'호')

101 호
102 호
201 호
202 호
301 호
302 호

### 186
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302]  ]       
301 호     
302 호        
201 호             
202 호       
101 호      
102 호

In [22]:
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart[::-1]:
    for j in i:
        print(j,'호')

301 호
302 호
201 호
202 호
101 호
102 호

### 187
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]    
302 호   
301 호     
202 호     
201 호      
102 호      
101 호

In [23]:
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j,'호')

302 호
301 호
202 호
201 호
102 호
101 호

### 188
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]     
101 호    
\-----      
102 호      
\-----       
201 호      
\-----     
202 호     
\-----      
301 호        
\-----      
302 호     
\-----

In [24]:
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
    for j in i:
        print(j,'호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

### 189
리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]  
101 호  
102 호   
\-----   
201 호   
202 호    
\-----      
301 호   
302 호  
\-----

In [26]:
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
    for j in i:
        print(j,'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

### 190
리스트에 저장된 데이터를 아래와 같이 출력하라.     

apart = [ [101, 102], [201, 202], [301, 302] ]       
101 호        
102 호      
201 호     
202 호    
301 호      
302 호       
\-----

In [27]:
apart = [[101, 102], [201, 202], [301, 302]]
for i in apart:
    for j in i:
        print(j,'호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

### 191
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [       
    [ 2000,  3050,  2050,  1980],       
    [ 7500,  2050,  2050,  1980],       
    [15450, 15050, 15550, 14900]        
]  
       
수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.        

2000.28      
3050.427     
2050.2870000000003      
...

In [32]:
data = [
[ 2000, 3050, 2050, 1980],
[ 7500, 2050, 2050, 1980],
[15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

### 192
191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

2000.28          
3050.427        
2050.2870000000003      
1980.2772    
\----          
7501.05    
2050.2870000000003     
2050.2870000000003  
1980.2772       
\----     
15452.163          
15052.107
15552.177       
14902.086000000001   
\----

In [33]:
data = [
[ 2000, 3050, 2050, 1980],
[ 7500, 2050, 2050, 1980],
[15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j*1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

### 193
192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.
 
print(result)        
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

In [37]:
data = [
[ 2000, 3050, 2050, 1980],
[ 7500, 2050, 2050, 1980],
[15450, 15050, 15550, 14900]
]
result = [j*1.00014 for i in data for j in i ]
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

### 194
191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

print(result)        
[       
 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],       
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],        
 [15452.163, 15052.107, 15552.177, 14902.086000000001]      
]

In [39]:
data = [
[ 2000, 3050, 2050, 1980],
[ 7500, 2050, 2050, 1980],
[15450, 15050, 15550, 14900]
]
result = []
for i in data:
    bl = []
    for j in i:
        bl.append(j * 1.00014)
    result.append(bl)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

###  195
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],      
        [100, 110, 70, 100],     
        [200, 210, 180, 190],    
        [300, 310, 300, 310]]

In [41]:
ohlc = [["open", "high", "low", "close"],
[100, 110, 70, 100],
[200, 210, 180, 190],
[300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

### 196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],      
        [100, 110, 70, 100],       
        [200, 210, 180, 190],    
        [300, 310, 300, 310]]   
190     
310

In [42]:
for i in ohlc[1:]:
    if (i[3] > 150):
        print(i[3])

190
310

### 197
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],      
        [100, 110, 70, 100],       
        [200, 210, 180, 190],     
        [300, 310, 300, 310]]

In [43]:
for i in ohlc[1:]:
    if (i[3] >= 150):
        print(i[3])

190
310

### 198
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],      
        [100, 110, 70, 100],    
        [200, 210, 180, 190],     
        [300, 310, 300, 310]]   
        
        
print(volatility)   
[40, 30, 10]

In [45]:
volatillity = [i[1]-i[2] for i in ohlc[1:]]
print(volatillity)

[40, 30, 10]

### 199
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],     
        [100, 110, 70, 100],    
        [200, 210, 180, 190],    
        [300, 310, 300, 310]]    
종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

10

In [46]:
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

### 200
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라. 
   
ohlc = [["open", "high", "low", "close"],   
        [100, 110, 70, 100],   
        [200, 210, 180, 190],  
        [300, 310, 300, 310]]  
1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.  

0

In [55]:
profit = 0
for i in ohlc[1:]:
    profit += (i[3] - i[0])
print(profit)

0

### 201
"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

In [56]:
def print_coin():
    print("비트코인")

### 202
201번에서 정의한 함수를 호출하라.

In [57]:
print_coin()

비트코인

### 203
201번에서 정의한 print_coin 함수를 100번호출하라.

In [58]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

### 204
"비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

In [59]:
def print_coins():
    for i in range(100):
        print("비트코인")

### 205
아래의 에러가 발생하는 이유에 대해 설명하라.

hello()      
def hello():       
&nbsp; &nbsp;&nbsp;&nbsp;   print("Hi")     
실행 예    

NameError: name 'hello' is not defined

함수 정의 전에 호출함.

### 206
아래 코드의 실행 결과를 예측하라.

def message() :   
&nbsp; &nbsp;&nbsp;&nbsp;     print("A")    
&nbsp; &nbsp;&nbsp;&nbsp;     print("B")    
 
message()   
print("C")     
message()

A &nbsp;     
B &nbsp;       
C &nbsp;      
A  &nbsp;    
B &nbsp;

### 207
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")       
 
def message() :     
 &nbsp; &nbsp;&nbsp;&nbsp;    print("B")
     
print("C")     
message()

A &nbsp;    
C &nbsp;       
B

### 208
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")       
def message1() :      
  &nbsp; &nbsp;&nbsp;&nbsp;   print("B")     
print("C")       
def message2() :     
&nbsp; &nbsp;&nbsp;&nbsp;     print("D")       
message1()       
print("E")    
message2()

A &nbsp;    
C &nbsp;    
B&nbsp;    
E&nbsp;    
D&nbsp;

### 209
아래 코드의 실행 결과를 예측하라.

def message1():      
  &nbsp; &nbsp;&nbsp;&nbsp;  print("A")       
    
def message2():       
 &nbsp; &nbsp;&nbsp;&nbsp;    print("B")      
 &nbsp; &nbsp;&nbsp;&nbsp;    message1()      

message2()

B &nbsp;    
A

### 210
아래 코드의 실행 결과를 예측하라.

def message1():        
   &nbsp; &nbsp;&nbsp;&nbsp;  print("A")

def message2():       
 &nbsp; &nbsp;&nbsp;&nbsp;    print("B")       

def message3():
   &nbsp; &nbsp;&nbsp;&nbsp;  for i in range (3) :     
    &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;        message2()         
 &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;        print("C")     
   &nbsp; &nbsp;&nbsp;&nbsp;  message1()

message3()

B&nbsp;  
C&nbsp;  
B&nbsp;  
C&nbsp;  
B&nbsp;  
C&nbsp;  
A