### 271 Account 클래스
은행에 가서 계좌를 개설하면 은행이름, 예금주, 계좌번호, 잔액이 설정됩니다. Account 클래스를 생성한 후 생성자를 구현해보세요. 생성자에서는 예금주와 초기 잔액만 입력 받습니다. 은행이름은 SC은행으로 계좌번호는 3자리-2자리-6자리 형태로 랜덤하게 생성됩니다.     

은행이름: SC은행     
계좌번호: 111-11-111111

In [25]:
import random
class Account:
    def __init__(self, name, money):
        self.bank = 'SC은행'
        self.name = name
        _acc = [[str(random.randint(0, 9)) for i in range(3)], [str(random.randint(0, 9)) for i in range(2)],
                [str(random.randint(0, 9)) for i in range(5)]]
        for i in range(len(_acc)):
            _acc[i] = ''.join(_acc[i])
        self.account = '-'.join(_acc)
        self.money = money

kim = Account("김민수", 100)
print(kim.name)
print(kim.money)
print(kim.bank)
print(kim.account)

김민수
100
SC은행
130-03-83760

In [27]:
# 답지
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)      # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)      # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001

kim = Account("김민수", 100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
725-48-872229

### 272 클래스 변수
클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요.

In [30]:
import random
class Account:
    count = 0
    def __init__(self, name, money):
        self.bank = 'SC은행'
        self.name = name
        _acc = [[str(random.randint(0, 9)) for i in range(3)], [str(random.randint(0, 9)) for i in range(2)],
                [str(random.randint(0, 9)) for i in range(5)]]
        for i in range(len(_acc)):
            _acc[i] = ''.join(_acc[i])
        self.account = '-'.join(_acc)
        self.money = money
        
        Account.count += 1
        
kim = Account("김민수", 100)
print(Account.count)
lee = Account("이민수", 100)
print(Account.count)

1
2

### 273 클래스 변수 출력
Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.

In [10]:
import random
class Account:
    count = 0
    def __init__(self, name, money):
        self.bank = 'SC은행'
        self.name = name
        _acc = [[str(random.randint(0, 9)) for i in range(3)], [str(random.randint(0, 9)) for i in range(2)],
                [str(random.randint(0, 9)) for i in range(5)]]
        for i in range(len(_acc)):
            _acc[i] = ''.join(_acc[i])
        self.account = '-'.join(_acc)
        self.money = money
        
        Account.count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)

### 274 입금 메서드
Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능합니다.

In [14]:
import random
class Account:
    count = 0
    def __init__(self, name, money):
        self.bank = 'SC은행'
        self.name = name
        _acc = [[str(random.randint(0, 9)) for i in range(3)], [str(random.randint(0, 9)) for i in range(2)],
                [str(random.randint(0, 9)) for i in range(5)]]
        for i in range(len(_acc)):
            _acc[i] = ''.join(_acc[i])
        self.account = '-'.join(_acc)
        self.money = money
        
        Account.count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)
        
    def deposit(self, input_money):
        if input_money >= 1:
            self.money += input_money

### 275 출금 메서드
Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 출금은 계좌의 잔고 이상으로 출금할 수는 없습니다.

In [21]:
import random
class Account:
    count = 0
    def __init__(self, name, money):
        self.bank = 'SC은행'
        self.name = name
        _acc = [[str(random.randint(0, 9)) for i in range(3)], [str(random.randint(0, 9)) for i in range(2)],
                [str(random.randint(0, 9)) for i in range(5)]]
        for i in range(len(_acc)):
            _acc[i] = ''.join(_acc[i])
        self.account = '-'.join(_acc)
        self.money = money
        
        Account.count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)
        
    def deposit(self, input_money):
        if input_money >= 1:
            self.money += input_money
    
    def withdraw(self, wd_money):
        if wd_money <= self.money:
            self.money -= wd_money

### 276 정보 출력 메서드
Account 인스턴스에 저장된 정보를 출력하는 display_info() 메서드를 추가하세요. 잔고는 세자리마다 쉼표를 출력하세요.    

은행이름: SC은행   
예금주: 파이썬    
계좌번호: 111-11-111111    
잔고: 10,000원

In [22]:
import random
class Account:
    count = 0
    def __init__(self, name, money):
        self.bank = 'SC은행'
        self.name = name
        _acc = [[str(random.randint(0, 9)) for i in range(3)], [str(random.randint(0, 9)) for i in range(2)],
                [str(random.randint(0, 9)) for i in range(5)]]
        for i in range(len(_acc)):
            _acc[i] = ''.join(_acc[i])
        self.account = '-'.join(_acc)
        self.money = money
        
        Account.count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)
        
    def deposit(self, input_money):
        if input_money >= 1:
            self.money += input_money
    
    def withdraw(self, wd_money):
        if wd_money <= self.money:
            self.money -= wd_money
    
    def display_info(self):
        print(self.bank)
        print(self.name)
        print(self.account)
        print(f'{self.money:,}')

p = Account("파이썬", 10000)
p.display_info()

SC은행
파이썬
001-66-92489
10,000

### 277 이자 지급하기
입금 횟수가 5회가 될 때 잔고를 기준으로 1%의 이자가 잔고에 추가되도록 코드를 변경해보세요.

In [37]:
import random
class Account:
    count = 0
    def __init__(self, name, money):
        self.deposit_cnt = 0
        self.bank = 'SC은행'
        self.name = name
        _acc = [[str(random.randint(0, 9)) for i in range(3)], [str(random.randint(0, 9)) for i in range(2)],
                [str(random.randint(0, 9)) for i in range(5)]]
        for i in range(len(_acc)):
            _acc[i] = ''.join(_acc[i])
        self.account = '-'.join(_acc)
        self.money = money
        
        Account.count += 1
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)
        
    def deposit(self, input_money):
        if input_money >= 1:
            self.money += input_money
            self.deposit_cnt +=1
            if self.deposit_cnt % 5 == 0:
                self.money = self.money * 1.01
    
    def withdraw(self, wd_money):
        if wd_money <= self.money:
            self.money -= wd_money
    
    def display_info(self):
        print(self.bank)
        print(self.name)
        print(self.account)
        print(f'{self.money:,}')

### 278 여러 객체 생성
Account 클래스로부터 3개 이상 인스턴스를 생성하고 생성된 인스턴스를 리스트에 저장해보세요.

In [38]:
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)
data = [k, l, p]

### 279 객체 순회
반복문을 통해 리스트에 있는 객체를 순회하면서 잔고가 100만원 이상인 고객의 정보만 출력하세요.

In [39]:
for i in data:
    if i.money >= 1000000:
        print(i.display_info())

SC은행
KIM
960-29-45143
10,000,000
None

### 280 입출금 내역
입금과 출금 내역이 기록되도록 코드를 업데이트 하세요. 입금 내역과 출금 내역을 출력하는 deposit_history와 withdraw_history 메서드를 추가하세요.

In [72]:
import random
class Account:
    count = 0
    def __init__(self, name, money):
        self.deposit_cnt = 0
        self.bank = 'SC은행'
        self.name = name
        _acc = [[str(random.randint(0, 9)) for i in range(3)], [str(random.randint(0, 9)) for i in range(2)],
                [str(random.randint(0, 9)) for i in range(5)]]
        for i in range(len(_acc)):
            _acc[i] = ''.join(_acc[i])
        self.account = '-'.join(_acc)
        self.money = money
        
        Account.count += 1
        self.deposit_his = []
        self.withdraw_his = []
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)
        
    def deposit(self, input_money):
        if input_money >= 1:
            self.money += input_money
            self.deposit_cnt += 1
            self.deposit_his.append(str(input_money)+ '원 입금하였습니다. 통장 잔고는 ' +str(self.money) +'입니다.')
            if self.deposit_cnt % 5 == 0:
                self.money = self.money * 1.01
                self.deposit_his.append(str(self.money*0.01)+'원 이자가 지급되었습니다.')
            
        
    
    def withdraw(self, wd_money):
        if wd_money <= self.money:
            self.money -= wd_money
            self.withdraw_his.append(str(wd_money) + '원 출금하였습니다. 남은 금액은 ' + str(self.money) +'입니다.')
                                            
                                            
    
    def display_info(self):
        print(self.bank)
        print(self.name)
        print(self.account)
        print(f'{self.money:,}')
    
    def deposit_history(self):
        for i in self.deposit_his:
            print(i)
              
    def withdraw_history(self):
        for i in self.withdraw_his:
            print(i)

k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()
k.withdraw(100)
k.withdraw_history()

100원 입금하였습니다. 통장 잔고는 1100입니다.
200원 입금하였습니다. 통장 잔고는 1300입니다.
300원 입금하였습니다. 통장 잔고는 1600입니다.
100원 출금하였습니다. 남은 금액은 1500입니다.

### 281 클래스 정의
다음 코드가 동작하도록 차 클래스를 정의하세요.

car = 차(2, 1000)         
car.바퀴       
2     &nbsp;&nbsp;      
car.가격      
1000

In [83]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격 
car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

### 282 클래스 상속
차 클래스를 상속받은 자전차 클래스를 정의하세요.

In [103]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격 
class 자전차(차):
    pass

### 283 클래스 상속
다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

bicycle = 자전차(2, 100)        
bicycle.가격          
100

In [107]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격 
class 자전차(차):
    pass

bicycle = 자전차(2, 100)
print(bicycle.가격)

100

### 284 클래스 상속
다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

bicycle = 자전차(2, 100, "시마노")       
bicycle.구동계      
시마노

In [136]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def sell(self):
        return self.가격 * 0.5

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
        
    
bicycle = 자전차(2, 100, "시마노")
bicycle.구동계

'시마노'

### 285 클래스 상속
다음 코드가 동작하도록 차 클래스를 상속받는 자동차 클래스를 정의하세요.

car = 자동차(4, 1000)      
car.정보()      
바퀴수 4     
가격 1000

In [146]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def sell(self):
        return self.가격 * 0.5
    
class 자동차(차):
    def 정보(self):
        print('바퀴수', self.바퀴)
        print('가격', self.가격)

car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

### 286 부모 클래스 생성자 호출
다음 코드가 동작하도록 차 클래스를 수정하세요.

bicycle = 자전차(2, 100, "시마노")      
bicycle.정보()       
바퀴수 2       
가격 100

In [145]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def sell(self):
        return self.가격 * 0.5
    
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
        
    def 정보(self):
        print('바퀴수', self.바퀴)
        print('가격',  self.가격)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100

### 287 부모 클래스 메서드 호출
자전차의 정보() 메서드로 구동계 정보까지 출력하도록 수정해보세요.

bicycle = 자전차(2, 100, "시마노")      
bicycle.정보()      
바퀴수 2      
가격 100        
구동계 시마노

In [147]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def sell(self):
        return self.가격 * 0.5
    
class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
        
    def 정보(self):
        print('바퀴수', self.바퀴)
        print('가격',  self.가격)
        print('구동계', self.구동계)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

### 288 메서드 오버라이딩
다음 코드의 실행 결과를 예상해보세요.

class 부모:       
&nbsp;&nbsp;&nbsp;&nbsp;  def 호출(self):         
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   print("부모호출")    

class 자식(부모):      
 &nbsp;&nbsp;&nbsp;&nbsp; def 호출(self):       
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; print("자식호출")   
나 = 자식()       
나.호출()

#### 자식호출

### 289 생성자
다음 코드의 실행 결과를 예상해보세요.

class 부모:         
 &nbsp;&nbsp;&nbsp;&nbsp; def \_\_init\_\_(self):         
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  print("부모생성")      
    
class 자식(부모):        
 &nbsp;&nbsp;&nbsp;&nbsp; def \_\_init\_\_(self):      
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   print("자식생성")      
나 = 자식()

#### 자식생성

### 290 부모클래스 생성자 호출
다음 코드의 실행 결과를 예상해보세요.
 
class 부모:        
&nbsp;&nbsp;&nbsp;&nbsp;  def \_\_init\_\_(self):      
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  print("부모생성")

class 자식(부모):      
 &nbsp;&nbsp;&nbsp;&nbsp; def \_\_init\_\_(self):     
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  print("자식생성")     
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; super().\_\_init\_\_()     

나 = 자식()

#### 자식생성 
#### 부모생성

### 291 파일 쓰기
바탕화면에 '매수종목1.txt' 파일을 생성한 후 다음과 같이 종목코드를 파일에 써보세요.

005930  
005380  
035420

In [155]:
desk_dir = '/Users/jinyong/Desktop/'
file_name = '매수종목1.txt'
code = '005930', '005380', '035420'
with open(desk_dir + file_name, 'a') as f:
    for i in code:
        f.write(i+'\n')

### 292 파일 쓰기
바탕화면에 '매수종목2.txt' 파일을 생성한 후 다음과 같이 종목코드와 종목명을 파일에 써보세요.

005930 삼성전자  
005380 현대차  
035420 NAVER

In [157]:
desk_dir = '/Users/jinyong/Desktop/'
file_name = '매수종목2.txt'
code = '005930', '005380', '035420'
stock_n = '삼성전자', '현대차', 'NAVER'
with open(desk_dir + file_name, 'w') as f:
    for i,j in zip(code, stock_n):
        f.write(i + ' ' + j +'\n')

### 293 CSV 파일 쓰기
바탕화면에 '매수종목.csv' 파일을 생성한 후 다음과 같이 종목코드와 종목명을 파일에 써보세요. 인코딩은 'cp949'를 사용해야합니다.  

|A|B|C|
|---|---|---|
|종목명|종목코드|PER|
|삼성전자|005930|15.79|
|NAVER|035420|55.82|

In [177]:
import pandas as pd
desk_dir = '/Users/jinyong/Desktop/'
file_name = '매수종목.csv'
file_lines = 'A', 'B', 'C', '종목명', '종목코드', 'PER', '삼성전자', '005930', '15.79', 'NAVER', '035420','55.82'

with open(desk_dir + file_name, 'w', encoding = 'cp949') as f:
    for i in range(len(file_lines)//3):
        f.write(file_lines[i*3]+' '+file_lines[3*i+1]+' '+file_lines[3*i+2] +'\n')

pd.read_csv(desk_dir+ file_name, encoding = 'cp949', sep=' ')

       A       B      C
0    종목명    종목코드    PER
1   삼성전자  005930  15.79
2  NAVER  035420  55.82

### 294 파일 읽기
바탕화면에 생성한 '매수종목1.txt' 파일을 읽은 후 종목코드를 리스트에 저장해보세요.

005930  
005380  
035420

In [8]:
desk_dir = '/Users/jinyong/Desktop/'
file_name = '매수종목1.txt'
code_list = []
with open(desk_dir + file_name, 'r') as f:
    lines = f.readlines()
    for line in lines:
        code_list.append(line.strip())
print(code_list)

['005930', '005380', '035420']

### 295 파일 읽기
바탕화면에 생성한 '매수종목2.txt' 파일을 읽은 후 종목코드와 종목명을 딕셔너리로 저장해보세요. 종목명을 key로 종목명을 value로 저장합니다.

005930 삼성전자  
005380 현대차  
035420 NAVER

In [18]:
desk_dir = '/Users/jinyong/Desktop/'
file_name = '매수종목2.txt'
code_dict = {}
with open(desk_dir + file_name, 'r') as f:
    lines = f.readlines()
    for line in lines:
        line = line.split()
        code_dict.update({line[1]:line[0]})
print(code_dict)

{'삼성전자': '005930', '현대차': '005380', 'NAVER': '035420'}

### 296 예외처리
문자열 PER (Price to Earning Ratio) 값을 실수로 변환할 때 에러가 발생합니다. 예외처리를 통해 에러가 발생하는 PER은 0으로 출력하세요.

per = ["10.31", "", "8.00"]  

for i in per:  
   &nbsp;&nbsp;&nbsp;&nbsp; print(float(i))

In [19]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

### 297 예외처리 및 리스트에 저장
문자열로 표현된 PER 값을 실수로 변환한 후 이를 새로운 리스트에 저장해보세요.

per = ["10.31", "", "8.00"]

for i in per:  
 &nbsp;&nbsp;&nbsp;&nbsp;   print(float(per))

In [21]:
# 문제가 이상함.
per = ["10.31", "", "8.00"] 
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

### 298 특정 예외만 처리하기
어떤 값을 0으로 나누면 ZeroDivisionError 에러가 발생합니다. try ~ except로 모든 에러에 대해 예외처리하지 말고 ZeroDivisionError 에러만 예외처리해보세요.

In [22]:
try:
    4 / 0
except ZeroDivisionError as e:
    print(e)

division by zero

### 299 예외의 메시지 출력하기
다음과 같은 코드 구조를 사용하면 예외 발생 시 에러 메시지를 변수로 바인딩할 수 있습니다.

try:  
 &nbsp;&nbsp;&nbsp;&nbsp;   실행코드  
except 예외 as 변수:   
  &nbsp;&nbsp;&nbsp;&nbsp;  예외처리코드   
리스트의 인덱싱에 대해 에러를 출력해보세요.

data = [1, 2, 3]

for i in range(5)     
 &nbsp;&nbsp;&nbsp;&nbsp;   print(data[i])

In [23]:
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

### 300 try, except, else, finally 구조 사용해보기
파이썬 예외처리는 다음과 같은 구조를 가질 수 있습니다.

try:  
 &nbsp;&nbsp;&nbsp;&nbsp;   실행 코드   
except:     
 &nbsp;&nbsp;&nbsp;&nbsp;   예외가 발생했을 때 수행할 코드     
else:     
  &nbsp;&nbsp;&nbsp; &nbsp; 예외가 발생하지 않았을 때 수행할 코드      
finally:    
  &nbsp;&nbsp;&nbsp;&nbsp;  예외 발생 여부와 상관없이 항상 수행할 코드       
아래의 코드에 대해서 예외처리를 사용하고 try, except, else, finally에 적당한 코드를 작성해봅시다. else와 finally는 적당한 문구를 print하시면 됩니다.

per = ["10.31", "", "8.00"]

for i in per:   
 &nbsp;&nbsp;&nbsp;&nbsp;   print(float(per))

In [26]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i), end='')
    except:
        print(0)
    else:
        print(' is float')
    finally:
        print("end")

10.31 is float
end
0
end
8.0 is float
end