### 061
price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)  

price = ['20180728', 100, 130, 140, 150, 160, 170]  
출력 예시:  
[100, 130, 140, 150, 160, 170]

In [3]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
ls = [i for i in price if isinstance(i, int)]
print(ls)

[100, 130, 140, 150, 160, 170]

### 062
슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
실행 예:  
[1, 3, 5, 7, 9]

In [4]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

### 63
슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
실행 예:  
[2, 4, 6, 8, 10]

In [5]:
nums[1::2]

[2, 4, 6, 8, 10]

### 64
슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]  
실행 예:  
[5, 4, 3, 2, 1]

In [6]:
nums[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 65
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  

interest = ['삼성전자', 'LG전자', 'Naver']  
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  
 
출력 예시:  
삼성전자 Naver

In [9]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(' '.join(interest[::2]))

삼성전자 Naver

### 066 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  
  
출력 예시:  
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [10]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

### 067 join 메서드  
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.  

출력 예시:  
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [11]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

### 068 join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.  

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']  
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.  
  
출력 예시:  
삼성전자  
LG전자  
Naver  
SK하이닉스  
미래에셋대우

In [12]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

### 069 문자열 split 메서드 
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.  
 
string = "삼성전자/LG전자/Naver"  
이를 interest 이름의 리스트로 분리 저장하라.  

실행 예시  
> print(interest)  
['삼성전자', 'LG전자', 'Naver']

In [14]:
string = "삼성전자/LG전자/Naver" 
print(string.split('/'))

['삼성전자', 'LG전자', 'Naver']

### 070 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.  

data = [2, 4, 3, 1, 5, 10, 9]

In [24]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort(reverse=True)
print(data)

[10, 9, 5, 4, 3, 2, 1]

### 072
2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

|순위|영화|
|---|---|
|1|닥터스트레인지|
|2|스플릿|
|3|럭키|

In [32]:
movie_rank = '닥터스트레인지', '스플릿', '럭키'

### 073
숫자 1 이 저장된 튜플을 생성하라.

In [33]:
print((1,), type((1,)))

(1,) <class 'tuple'>

### 074
다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

> t = (1, 2, 3)  
t[0] = 'a'  
Traceback (most recent call last):  
&nbsp;&nbsp;&nbsp;&nbsp;File "<pyshell#46>", line 1, in <module>  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;t[0] = 'a'  
    
    
TypeError: 'tuple' object does not support item assignment

#### tuple은 immutable이다.

### 075
아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4

#### tuple

### 076
변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

In [34]:
t = ('A', 'b', 'c')

### 078
다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [35]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
print(tuple(interest), type(tuple(interest)))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

### 079 튜플 언팩킹
다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')  
a, b, c = temp  
print(a, b, c)

apple banana cake

### 080 range 함수
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

(2, 4, 6, 8 ... 98)

In [39]:
even = (i for i in range(2,100,2))
print(even)

<generator object <genexpr> at 0x7fc9b95a37b0>

In [42]:
even = [i for i in range(2, 100, 2)]
print(even)
print(tuple(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [44]:
for i in even:
    print(i, end = ' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

### 081 별 표현식
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

> a, b, *c = (0, 1, 2, 3, 4, 5)   
a  
0  
b  
1   
c  
[2, 3, 4, 5]   


다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.  

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [45]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

### 082
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [46]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, _, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

### 083
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [47]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_, *valid_score, _ = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

### 084 비어있는 딕셔너리
temp 이름의 비어있는 딕셔너리를 만들라.

In [51]:
ls = [1]
temp = dict()
print(temp)

TypeError: 'NoneType' object is not iterable

### 085
다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

### 086
085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

|이름|	희망 가격|
|---|---|
|죠스바	|1200|
|월드콘	|1500|

### 087
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
실행 예:
메로나 가격: 1000

### 088
다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

### 089
다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

### 090
다음 코드에서 에러가 발생한 원인을 설명하라.

> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}  
icecream['누가바']  
Traceback (most recent call last):  
&nbsp;&nbsp;&nbsp;&nbsp;File "<pyshell#69>", line 1, in <module>  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;icecream['누가바']  
KeyError: '누가바'