### 1 화면에 Hello World 문자열을 출력하세요.

In [1]:
print('Hello World')

Hello World

### 2 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

### 3 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
신씨가 소리질렀다. "도둑이야".

In [3]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

### 4 화면에 "C:\Windows"를 출력하세요.

In [4]:
print('"C:\\Windows"')

"C:\Windows"

### 5 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.  
만나서&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;반갑습니다.

### 6 print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

오늘은 일요일

### 7 print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

### 008 print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

naver/kakao/sk/samsung

In [6]:
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

### 009 print 줄바꿈
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")

In [8]:
print("first", end=' '); print("second")

first second

### 010 연산 결과 출력
5/3의 결과를 화면에 출력하세요.

In [9]:
print(5/3)

1.6666666666666667

### 011 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [11]:
삼성전자 = 50000
print(삼성전자 * 10)

500000

### 012 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.  

| 항목 | 값 |  
| --- | --- |  
| 시가총액 | 298조 |   
| 현재가 | 50,000원 |  
| PER | 15.79 |

In [15]:
시가총액 = 298e12
현재가 = 50000
PER = 15.79

### 013 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

> s = "hello"  
t = "python"  

두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
> hello! python

In [18]:
s = "hello"
t = "python"

print(s,t)

hello python

### 014 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.

> 2 + 2 * 3

8

### 15 type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

> a = 128
 print (type(a))
<class 'int'>  

아래 변수에 바인딩된 값의 타입을 판별해보세요.

> a = "132"

### 016 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.

> num_str = "720"

In [19]:
num_str = "720"
num_int = int(num_str)
print(type(num_int))

<class 'int'>

### 017 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [27]:
num = 100
print(str(num), type(str(num)), sep=' , ')

100 , <class 'str'>

### 018 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [26]:
s = 15.79
print(float(s), type(float(s)),sep=' , ')

15.79 , <class 'float'>

### 019 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

In [29]:
year = "2020"
i = 2020
print(i - 2, i -1, i)

2018 2019 2020

### 020 파이썬 계산
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [31]:
a = 48584
print(a * 36)

1749024

### 021 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

> letters = 'python'

>실행 예  
p t

In [37]:
letters = 'python'
print(letters[0], letters[2])

p t

### 022 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

> license_plate = "24가 2210"  

>실행 예:  
2210

In [40]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

### 023 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.

> string = "홀짝홀짝홀짝"  

>실행 예:  
홀홀홀

In [41]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

### 024 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.

> string = "PYTHON"  

>실행 예:  
NOHTYP

In [42]:
string = "PYTHON"
print(string[::-1])

NOHTYP

### 025 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

> phone_number = "010-1111-2222"

>실행 예  
010 1111 2222

In [45]:
phone_number = "010-1111-2222"
phone_number = phone_number.replace('-', ' ')
print(phone_number)

010 1111 2222

### 026 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예  
01011112222

In [46]:
phone_number = "010-1111-2222"
phone_number = phone_number.replace('-', '')
print(phone_number)

01011112222

### 027 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

> url = "http://sharebook.kr"  

>실행 예:  
kr

In [48]:
url = "http://sharebook.kr"
url = url.split('.')[-1]
print(url)

kr

### 028 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.

> lang = 'python'  
> lang[0] = 'P'  
> print(lang)

TypeError: 'str' object does not support item assignment

### 029 replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

> string = 'abcdfe2a354a32a'  
실행 예:  
Abcdfe2A354A32A

In [54]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

### 030 replace 메서드
아래 코드의 실행 결과를 예상해보세요.

> string = 'abcd'  
string.replace('b', 'B')  
print(string)

abcd # replace method는 object를 변화시키지 않는다.