### 121
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.  

a  &nbsp;  
A    &nbsp;  
힌트-1 : islower() 함수는 문자의 소문자 여부를 판별합니다. 만약 소문자일 경우 True, 대문자일 경우 False를 반환합니다. 힌트-2 : upper() 함수는 대문자로, lower() 함수는 소문자로 변경합니다.

In [15]:
s = input()
print(s.upper() if s.islower else print(s.lower()))

a
A

### 122
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

|점수|학점|
|---|---|
|81~100|A|
|61~80|B|
|...|C|
|...|D|
|0~20|E|
 
score: 83  
grade is A

In [59]:
score_range = list(range(1,101,20))
score_range[0] = 0
score_range.append(100)
score = ['A', 'B', 'C', 'D', 'E'][::-1]
s = input('score: ')
for i in range(len(score_range)):
    if score_range[i] <= int(s) <= score_range[i+1]:
        print('grade is', score[i])

score: 83
grade is A

### 123

사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.  

|통화명|	환율|
|---|---|
|달러	|1167|
|엔|	1.096|
|유로	|1268|
|위안	|171|  

입력: 100 달러  
116700.00 원

In [41]:
s = input()
통화명 = ['달러', '엔','유로', '위안']
환율 = [1167, 1.096, 1268, 171]
환 = dict(zip(통화명, 환율))
money, currency = s.split()
print(f'{int(money)*환[currency]:.2f} 원')

100 달러
116700.00 원

### 124
사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

input number1: 10  
input number2: 9  
input number3: 20  
20

In [44]:
a= []
for i in range(3):
    a.append(int(input('input number'+str(i+1)+':')))
print(max(a))

input number1:10
input number2:9
input number3:20
20

### 125
휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

|번호	|통신사|
|---|---|
|011	|SKT|
|016	|KT||
|019	|LGU|
|010	|알수없음|

휴대전화 번호 입력: 011-345-1922  
당신은 SKT 사용자입니다.

In [48]:
번호 = [011, 016, 019, 010]
통신사 = ['SKT', 'KT', 'LGU', '알수없음']
number_dict = dict(zip(번호, 통신사))
s = input('휴대전화 번호 입력: ')
print(f'당신은 {number_dict[int(s.split('-')[0])} 사용자입니다.')

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3189282403.py, line 1)

#### 0으로 시작하는 십진수는 없다. 그냥 string으로 바꿔서 풀자.

In [55]:
번호 = ['011', '016', '019', '010']
통신사 = ['SKT', 'KT', 'LGU', '알수없음']
number_dict = dict(zip(번호, 통신사))
s = input('휴대전화 번호 입력: ')
s = s.split('-')[0]
print(f'당신은 {number_dict[s]} 사용자입니다.')

휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

### 126
우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

|-	|0	|1|	2|3	|4|	5	|6	|7	|8	|9|
|---|---|---|---|---|---|---|---|---|---|---|
|01	|강북구|	강북구	|강북구|	도봉구|	도봉구|	도봉구	|노원구	|노원구	|노원구|	노원구|

사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라  

우편번호: 01400  
도봉구

In [56]:
s = input('우편번호: ')
주소 = ['강북구', '강북구', '강북구', '도봉구', '도봉구', '도봉구', '노원구', '노원구', '노원구', '노원구']
print(주소[int(s[2])])

우편번호: 01400
도봉구

### 127
주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

주민등록번호: 821010-1635210
남자

In [58]:
s = input('주민등록번호: ')
print('남자') if s.split('-')[-1][0] == '1' else print('여자')

주민등록번호: 821010-1635210 남자
남자

### 128
주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

지역코드	출생지  
00 ~ 08	서울  
09 ~ 12	부산  
주민등록번호: 821010-1635210  
서울이 아닙니다.  
주민등록번호: 861010-1015210  
서울 입니다.

In [61]:
def identify_loc(s):
    s = int(s.split('-')[1][1:3])
    if 0 <= s <= 8: print('서울입니다.')
    else: print('서울이 아닙니다.')
for i in range(2):
    s = input('주민등록번호: ')
    identify_loc(s)

주민등록번호: 821010-1635210
서울이 아닙니다.
주민등록번호: 861010-1015210
서울입니다.

### 129
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

&nbsp;&nbsp;  8 2 1 0 1 0 - 1 6 3 5 2 1 0  
x 2 3 4 5 6 7 &nbsp;&nbsp;  8 9 2 3 4 5   
---------
1차 계산: (8\*2 + 2\*3 + 1\*4 + 0\*5 + 1\*6 + 0\*7 + 1\*8 + 6\*9 + 3\*2 + 5\*3 + 2\*4 + 1\*5) = (128 % 11) = 7  
2차 계산: 11 -7 = 4   

위와 같이 821010-1635210에 대해서 계산을 해보면 마지막 자리는 4가 되어야 함을 알 수 있다. 즉, 821010-1635210은 유효하지 않은 주민등록번호임을 알 수 있다.  

다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를출력하는 프로그램을 작성하라.

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [66]:
s = input('주민등록번호: ')
id_former, id_latter = s.split('-')
mul_former = '234567'
mul_latter = '892345'

sum = 0
for i in range(len(mul_former)):
    sum += int(mul_former[i])*int(id_former)
    sum += int(mul_latter[i])*int(id_latter)
if (11 - sum % 11) == int(id_latter[-1]):
    print('유효한 주민등록번호입니다.')
else: print('유효하지 않은 주민등록번호입니다.')

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

### 130
아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

import requests  
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']  


btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

|Key Name  |	Description|
|---|---|
|opening_price	|최근 24시간 내 시작 거래금액|
|closing_price|최근 24시간 내 마지막 거래금액|
|min_price	|최근 24시간 내 최저 거래금액|
|max_price|	최근 24시간 내 최고 거래금액|

In [71]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

if (float(btc['opening_price'])-float(btc['min_price'])) <= 0:
    print('하락장')
else: print('상승장')

상승장

### 131
for문의 실행결과를 예측하라.  

과일 = ["사과", "귤", "수박"]  
for 변수 in 과일:  
    print(변수)

사과  
귤  &nbsp;  
수박

### 132
for문의 실행결과를 예측하라.  

과일 = ["사과", "귤", "수박"]  
for 변수 in 과일:  
&nbsp;&nbsp;&nbsp;&nbsp;print("#####")

#####&nbsp;&nbsp;&nbsp;&nbsp;   
#####&nbsp;&nbsp;&nbsp;&nbsp;         
#####&nbsp;&nbsp;&nbsp;&nbsp;

### 133
다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:    
&nbsp;&nbsp;&nbsp;&nbsp;  print(변수)

In [74]:
print('A')
print('B')
print('C')

A
B
C

### 134
for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:  
&nbsp;&nbsp;&nbsp;&nbsp;  print("출력:", 변수)

In [76]:
print('출력:', 'A')
print('출력:', 'B')
print('출력:', 'C')

출력: A
출력: B
출력: C

### 135
for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
 
for 변수 in ["A", "B", "C"]:  
&nbsp;&nbsp;&nbsp;&nbsp;  b = 변수.lower()  
&nbsp;&nbsp;&nbsp;&nbsp;  print("변환:", b)

In [77]:
print("변환:", 'a')
print("변환:", 'b')
print("변환:", 'c')

변환: a
변환: b
변환: c

### 136
다음 코드를 for문으로 작성하라.

변수 = 10  
print(변수)  
변수 = 20  
print(변수)  
변수 = 30  
print(변수)

In [79]:
변수 = [10, 20, 30]
for i in 변수:
    print(i)

10
20
30

### 137
다음 코드를 for문으로 작성하라.

print(10)  
print(20)  
print(30)

In [80]:
for i in range(10,40,10):
    print(i)

10
20
30

### 138
다음 코드를 for문으로 작성하라.
  
print(10)  
print("-------")  
print(20)  
print("-------")  
print(30)  
print("-------")

In [81]:
for i in range(10,40,10):
    print(i)
    print("-------")

10
-------
20
-------
30
-------

### 139
다음 코드를 for문으로 작성하라.
 
print("++++")  
print(10)   
print(20)  
print(30)

In [83]:
for i in range(0,40,10):
    if i >= 10:
        print(i)
    else: print('++++')

++++
10
20
30

### 140
다음 코드를 for문으로 작성하라.

print("-------")  
print("-------")  
print("-------")  
print("-------")

In [84]:
for i in range(4):
    print("-------")

-------
-------
-------
-------

### 141
다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]  
110  
210  
310

In [85]:
리스트 = [100, 200, 300]
for i in 리스트:
    print(i + 10)

110
210
310

### 142
for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.  

리스트 = ["김밥", "라면", "튀김"]  
오늘의 메뉴: 김밥  
오늘의 메뉴: 라면  
오늘의 메뉴: 튀김

In [86]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print('오늘의 메뉴:', i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

### 143
리스트에 주식 종목이름이 저장돼 있다.  

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]  
저장된 문자열의 길이를 다음과 같이 출력하라.  

6 &nbsp;  
4 &nbsp;  
4 &nbsp;

In [87]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

### 144
리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']  
동물 이름과 글자수를 다음과 같이 출력하라.  
     
dog 3  
cat 3  
parrot 6

In [88]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

### 145
리스트에 동물 이름 저장돼 있다.
  
리스트 = ['dog', 'cat', 'parrot']   
for문을 사용해서 동물 이름의 첫 글자만 출력하라.   

d  &nbsp;    
c  &nbsp;  
p  &nbsp;

In [89]:
for i in 리스트:
    print(i[0])

d
c
p

### 146
리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]  
for문을 사용해서 다음과 같이 출력하라.  

3 x 1  
3 x 2   
3 x 3

In [92]:
리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i}')

3 x 1
3 x 2
3 x 3

### 147
리스트에는 세 개의 숫자가 바인딩돼 있다.  
   
리스트 = [1, 2, 3]  
for문을 사용해서 다음과 같이 출력하라.   

3 x 1 = 3   
3 x 2 = 6  
3 x 3 = 9

In [94]:
리스트 = [1, 2, 3]
for i in 리스트:
    print(f'3 x {i} = {i*3}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

### 148
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]  
for문을 사용해서 다음과 같이 출력하라.  

나 &nbsp;  
다 &nbsp;  
라 &nbsp;

In [95]:
리스트 = ["가", "나", "다", "라"]
for i in range(1, len(리스트)):
    print(리스트[i])

나
다
라

### 149  
리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]  
for문을 사용해서 다음과 같이 출력하라.  
 
가&nbsp;  
다&nbsp;

In [97]:
리스트 = ["가", "나", "다", "라"]
for i,j in enumerate(리스트):
    if i % 2 == 0: print(j)

가
다

### 150
리스트에는 네 개의 문자열이 바인딩돼 있다.  

리스트 = ["가", "나", "다", "라"]  
for문을 사용해서 다음과 같이 출력하라.  

라&nbsp;  
다&nbsp;  
나&nbsp;  
가 &nbsp;

In [101]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가