### 211
함수의 호출 결과를 예측하라.

def 함수(문자열) :       
 &nbsp;&nbsp;&nbsp;&nbsp;   print(문자열)

함수("안녕")        
함수("Hi")

#### 안녕  
#### Hi

### 212
함수의 호출 결과를 예측하라.

def 함수(a, b) :     
  &nbsp;&nbsp;&nbsp;&nbsp;  print(a + b)

함수(3, 4)            
함수(7, 8)

#### 7 &nbsp;    
#### 15

### 213
아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :      
 &nbsp;&nbsp;&nbsp;&nbsp;   print(문자열)     
함수()       
TypeError: 함수() missing 1 required positional argument: '문자열'

#### 문자열이라는 인자가 들어가야 가는데 안 들어감.

### 214
아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :       
&nbsp;&nbsp;&nbsp;&nbsp;    print(a + b)

함수("안녕", 3)      
TypeError: must be str, not int

#### int형 자료형과 str형 자료형은 더할 수 없다.

### 215
하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [2]:
def print_with_smile(string):
    print (string + ":D")

### 216
215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [3]:
print_with_smile("안녕하세요")

안녕하세요:D

### 217
현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [4]:
def print_upper_price(price):
    print(price * 1.3)

### 218
두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [5]:
def print_sum(a, b):
    print (a + b)

### 219
두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

print_arithmetic_operation(3, 4)       
3 + 4 = 7       
3 - 4 = -1   
3 * 4 = 12    
3 / 4 = 0.75

In [6]:
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)
    
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

### 220
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [8]:
def print_max(a, b, c):
    max_list = [a,b,c]
    max = 0
    for i in max_list:
        if max < i:
            max = i
    return max
print(max(10,30,50))

50

### 221
입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

print_reverse("python")   
nohtyp

In [14]:
def print_reverse(string):
    print(string[::-1])
print_reverse("python")

nohtyp

### 222
성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

print_score ([1, 2, 3])     
2.0

In [13]:
def print_score(score_list):
    print(sum(score_list)/len(score_list))
print_score([1, 2, 3])

2.0

### 223
하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
 
print_even ([1, 3, 2, 10, 12, 11, 15])    
2     &nbsp;   
10     
12

In [12]:
def print_even(my_list):
    for i in my_list:
        if i % 2 == 0:
            print(i)
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

### 224
하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

print_keys ({"이름":"김말똥", "나이":30, "성별":0})    
이름       
나이        
성별

In [17]:
def print_keys(dic):
    for k in dic.keys():
        print(k)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

### 225
my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],     
           "10/27" : [10, 12, 10, 11]}        
my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.       

print_value_by_key  (my_dict, "10/26")        
[100, 130, 100, 100]

In [19]:
def print_value_by_key(dic, key):
    print(dic[key])
my_dict = {"10/26" : [100, 130, 100, 100], "10/27" : [10, 12, 10, 11]}
print_value_by_key (my_dict, "10/26")

[100, 130, 100, 100]

### 226 
입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.     

print_5xn("아이엠어보이유알어걸")     
아이엠어보      
이유알어걸

In [24]:
def print_5xn(s):
    for i in range(len(s)//5):
        print(s[i*5:5*i+5])
        
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

### 227
문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

printmxn("아이엠어보이유알어걸", 3)      
아이엠      
어보이      
유알어       
걸

In [28]:
def printmxn(s, n):
    for i in range(len(s)//n):
        print(s[i*n: i*n+n])
    print(s[::-1][len(s)%n-1])
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

### 228
연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.
       
calc_monthly_salary(12000000)   
1000000

In [32]:
def calc_monthly_salary(annual_salary):
    return int(annual_salary/12)
print(calc_monthly_salary(12000000))

1000000

### 229
아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :      
    &nbsp;&nbsp;&nbsp;&nbsp;  print("왼쪽:", a)       
  &nbsp;&nbsp;&nbsp;&nbsp;    print("오른쪽:", b)          
 
my_print(a=100, b=200)

#### 왼쪽: 100    
#### 오른쪽: 200

### 230
아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :      
    &nbsp;&nbsp;&nbsp;&nbsp;  print("왼쪽:", a)         
 &nbsp;&nbsp;&nbsp;&nbsp;     print("오른쪽:", b)       

my_print(b=100, a=200)

#### 왼쪽: 200
#### 오른쪽: 100

### 231
아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :       
      &nbsp;&nbsp;&nbsp;&nbsp;  result = n + 1     
  
n_plus_1(3)      
print (result)

#### error 발생

### 232
문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

make_url("naver")      
www.naver.com

In [35]:
def make_url(s):
    return "www."+s+".com"
make_url("naver")

'www.naver.com'

### 233
문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

make_list("abcd")       
['a', 'b', 'c', 'd']

In [37]:
def make_list(string):
    return [i for i in string]
make_list("abcd")

['a', 'b', 'c', 'd']

### 234
숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

pickup_even([3, 4, 5, 6, 7, 8])      
[4, 6, 8]

In [47]:
def pickup_even(items):
    return [i for i in items if i%2 ==0]
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

### 235
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.     

convert_int("1,234,567")    
1234567

In [49]:
def convert_int(string):
    return int(''.join(string.split(',')))
convert_int("1,234,567")

1234567

### 236
아래 코드의 실행 결과를 예측하라.

def 함수(num) :     
      &nbsp;&nbsp;&nbsp;&nbsp;  return num + 4   

a = 함수(10)       
b = 함수(a)      
c = 함수(b)   
print(c)

In [50]:
22

22

### 237
아래 코드의 실행 결과를 예측하라.

def 함수(num) :   
       &nbsp;&nbsp;&nbsp;&nbsp; return num + 4     

c = 함수(함수(함수(10)))       
print(c)

In [51]:
22

22

### 238
아래 코드의 실행 결과를 예측하라.

def 함수1(num) :    
      &nbsp;&nbsp;&nbsp;&nbsp;  return num + 4    

def 함수2(num) :   
       &nbsp;&nbsp;&nbsp;&nbsp; return num * 10     

a = 함수1(10)     
c = 함수2(a)     
print(c)

In [52]:
140

140

### 239
아래 코드의 실행 결과를 예측하라.

def 함수1(num) :    
       &nbsp;&nbsp;&nbsp;&nbsp; return num + 4    

def 함수2(num) :   
      &nbsp;&nbsp;&nbsp;&nbsp;  num = num + 2     
      &nbsp;&nbsp;&nbsp;&nbsp;  return 함수1(num)   
 
c = 함수2(10)    
print(c)

In [ ]:
16

### 240
아래 코드의 실행 결과를 예측하라.
 
def 함수0(num) :    
     &nbsp;&nbsp;&nbsp;&nbsp;   return num * 2  

def 함수1(num) :   
      &nbsp;&nbsp;&nbsp;&nbsp;  return 함수0(num + 2)

def 함수2(num) :   
     &nbsp;&nbsp;&nbsp;&nbsp;   num = num + 10     
      &nbsp;&nbsp;&nbsp;&nbsp;  return 함수1(num)

c = 함수2(2)   
print(c)

In [53]:
28

28