### 031 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.

> a = "3"  
b = "4"  
print(a + b)

34

### 032 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.

> print("Hi" * 3)

### 033 문자열 곱하기
화면에 '-'를 80개 출력하세요.

실행 예:  
\--------------------------------------------------------------------------------

In [33]:
print('-'*80)

--------------------------------------------------------------------------------

### 034 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

> t1 = 'python'  
t2 = 'java'  

변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.  

>실행 예:  
python java python java python java python java

In [34]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

python java python java python java python java

### 035 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

>name1 = "김민수"   
age1 = 10  
name2 = "이철희"  
age2 = 13  
 
>이름: 김민수 나이: 10  
이름: 이철희 나이: 13

In [37]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print('이름: %s, 나이: %d' % (name1, age1))
print('이름: %s, 나이: %d' % (name2, age2))

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

### 036 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [38]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 037 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [39]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 038 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.  

>상장주식수 = "5,969,782,550"

In [41]:
상장주식수 = "5,969,782,550"
수 = 상장주식수.replace(',', '')
print(int(수), type(int(수)))

5969782550 <class 'int'>

### 039 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.  

>분기 = "2020/03(E) (IFRS연결)"

In [44]:
분기 = "2020/03(E) (IFRS연결)"
print(분기.split('(')[0])
print(분기[:7])

2020/03
2020/03

### 040 strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.  

>data = "   삼성전자    "

In [46]:
data = "   삼성전자   "
data = data.strip()
print(data)

삼성전자

### 041 upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요. 

ticker = "btc_krw"

In [47]:
ticker = "btc_krw"
ticker= ticker.upper()
print(ticker)

BTC_KRW

### 042 lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.  
 
ticker = "BTC_KRW"

In [48]:
ticker = "btc_krw"
ticker = ticker.lower()
print(ticker)

btc_krw

### 043 capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [51]:
s = 'hello'
print(s.capitalize())

Hello

### 044 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.  

file_name = "보고서.xlsx"

In [50]:
file_name = "보고서.xlsx"

print(file_name.endswith('xlsx'))

True

### 045 endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.  

file_name = "보고서.xlsx"

In [ ]:
file_name = "보고서.xlsx"
print(file_name = '')

### 046 startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.  

file_name = "2020_보고서.xlsx"

In [52]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

### 047 split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.  

a = "hello world"

In [54]:
a = "hello world"
print(a.split())

['hello', 'world']

### 048 split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.   

ticker = "btc_krw"

In [57]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

### 049 split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.  

date = "2020-05-01"

In [58]:
date = "2020-05-01"
print(date.split('-'))

['2020', '05', '01']

### 050 rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.  

data = "039490 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"

In [59]:
data = '039490       '
print(data.rstrip())

039490

### 051 리스트 생성
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)  

|순위|영화|
|---|---|
|1|닥터스트레인지|
|2|스플릿|
|3|럭키|

In [65]:
movie_rank = ['닥터스트레인지', '스플릿', '럭키']
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키']

### 052 리스트에 원소 추가
051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [66]:
movie_rank = ['닥터스트레인지', '스플릿', '럭키']
movie_rank.append('배트맨')
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키', '배트맨']

### 053
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [70]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

### 054
movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [75]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.pop(3)
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

### 055
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [78]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank [-2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

### 56 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

> lang1 = ["C", "C++", "JAVA"]  
 lang2 = ["Python", "Go", "C#"]  

>실행 예:  
langs  
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [79]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1+lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

### 057
다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)  

nums = [1, 2, 3, 4, 5, 6, 7]  
실행 예:  
max:  7  
min:  1

In [80]:
nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums))
print(min(nums))

7
1

### 058
다음 리스트의 합을 출력하라.  

nums = [1, 2, 3, 4, 5]  
실행 예:  
15

In [81]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

### 059
다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

In [82]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

### 060
다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
실행 예:
3.0

In [85]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0